<footer class="font-small">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/brycekennedy117" class="standard-link" target="_blank"> Bryce Kennedy</a>
  </div>
</footer>